@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100dvw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.scrollhidden::-webkit-scrollbar {
  display: none;
}

ody::-webkit-scrollbar,
.scrollstyled::-webkit-scrollbar {
  width: 0.2rem; /* 0 por enquanto */
  background-color: #f2f2f2;
  border-radius: 1rem;
}
body::-webkit-scrollbar-thumb,
.scrollstyled::-webkit-scrollbar-thumb,
.scrollstyled-bold::-webkit-scrollbar-thumb {
  background-color: #199af0;
  border-radius: 1rem;
  cursor: pointer;
}
body::-webkit-scrollbar:horizontal,
.scrollstyled::-webkit-scrollbar:horizontal {
  height: 5px;
  background-color: #f2f2f2;
  border-radius: 1rem;
}
body::-webkit-scrollbar-thumb:horizontal,
.scrollstyled::-webkit-scrollbar-thumb:horizontal {
  background-color: #199af0;
  border-radius: 1rem;
  cursor: pointer;
}
.scrollstyled.scrollstyled-bg-white::-webkit-scrollbar,
.scrollstyled.scrollstyled-bg-white::-webkit-scrollbar:horizontal {
  background-color: #fff;
}
.scrollstyled.scrollstyled-bg-mbr-blue-50::-webkit-scrollbar,
.scrollstyled.scrollstyled-bg-mbr-blue-50::-webkit-scrollbar:horizontal {
  background-color: #ecf3f9;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.animate-shimmer {
  background: linear-gradient(90deg, #e0e0e06a 25%, #f0f0f0c2 50%, #e0e0e06a 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite linear;
}
